.leaderboard-container{
  margin-bottom: 4rem;
}
.totalExpense {
  padding: 20px;
  /* border: 1px solid gray; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  font-weight: bold;
  font-size: large;
  background-color: white;
}

.totalAmount {
  color: red;
  font-weight: 800;
}
.downloadBtn {
  margin-left: auto;
  background-color: greenyellow;
  padding: 8px 10px;
}
.downloadBtn:hover {
  background-color: rgb(169, 216, 98);
}

.expA {
  color: blue;
}
