body {
  background: white;
}
.container {
  display: flex;
  flex-direction: column;
}
.formContainer {
  display: flex;
  width: 28rem;

  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.lock {
  height: 3rem;
  padding: 30px;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: 20px;
}

.description {
  text-align: center;
  width: 22rem;
  font-size: medium;
  margin: 10px 0 0 0;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1rem;
  margin: 0 0 20px 0;
}

.or {
  display: flex;
  align-items: center;
}

hr {
  margin-top: 5px;
  width: 150px;
  border-color: rgb(255, 255, 255);
  height: 1px;
}

input {
  width: 100%;
}

.submitBtn {
  background-color: #3578e5;
  color: rgb(247, 247, 247);
}
.submitBtn:hover {
  scale: 100%;
  background-color: #1561dd;
  transition-duration: 3ms;
}

.newAccount {
  font-size: medium;
}
.newAccount:hover {
  scale: 100%;
  color: rgb(184, 184, 179);
}

.loginBtn {
  font-size: medium;
  margin: -30px;
  margin-top: 8rem;
  padding: 10px 0;
  text-align: center;
  background-color: rgb(240, 240, 236);
  width: calc(100% + 60px);
}
.loginBtn:hover {
  scale: 100%;
  color: rgb(180, 182, 182);
}
